{% extends "base.html" %}

{% block page_content %}


  <div class="container-fluid">      
    <h2 class="text-center pt-4">Contact Us</h2>

    <div class="wrap">
    <form class="cool-b4-form" method="POST">
      {% csrf_token %}
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="email" class="form-control" name="from_email" id="from_email">
            <label for="email">Email</label>
            <span class="input-highlight"></span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject">
            <label for="subject">Subject</label>
            <span class="input-highlight"></span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <textarea name="message" id="message" class="form-control"></textarea>
            <label for="message">Message</label>
            <span class="input-highlight"></span>
          </div>
        </div>
      </div>
      <div class="col-md-10 mx-auto mt-3">
        <button type="submit" class="btn btn-lg btn-danger btn-block">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
