[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
django = "*"
psycopg2 = "*"
django-debug-toolbar = "*"
django-referrer-policy = "*"
whitenoise = "*"
dj-database-url = "*"

[requires]
python_version = "3.7"
