@import url(https://fonts.googleapis.com/css?family=Raleway:400,800|Roboto+Slab:300);

*, *:before, *:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	transition: 0.4s ease all;
}
html {
	height: 100%;
	font-size: 100%;
}

body {
	display: block;
	background: #26262b;
	color: #ecf0f5
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* START header */
.discord-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.header {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.header h1 {
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24pt;
  color: #fff;
}

.header p {
  max-width: 60%;
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 13pt;
  color: hsla(0, 0%, 100%, 0.6);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.white-button {
  width: 10%;
  background-color: #fff;
  border: 2px solid #fff;
  color: #000;
}

.blue-button:hover,
.white-button:hover {
  transform: translateY(1px);
}

.blue-button:active,
.white-button:active {
  transform: translateY(2px);
}

.blue-button,
.white-button {
  outline: transparent !important;
}
/* end header */
.blog-header {
    line-height: 1;
	border-bottom: 1px solid #e5e5e5;
}


.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  /* font-size: 2.75em; */
}
@media(min-width: 576px){
	.blog-header-logo{
		font-size: 1.25em;
	}
}
@media(min-width: 768px){
	.blog-header-logo{
		font-size: 2.50em;
	}
}
@media(min-width: 992px){
	.blog-header-logo{
		font-size: 2.75em;
	}
}
@media(min-width: 1200px){
	.blog-header-logo{
		font-size: 3em;
	}
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
/* .col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666666%;
    flex: 0 0 66.666666%;
    max-width: 0 0 66.666666%;
} */
.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}
/* Navbar */

/* .nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
} */

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Sidebar
 */

 .sidebar {
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 100; /* Behind the navbar */
	padding: 10px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 20vh);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
	.sidebar-sticky {
	  position: -webkit-sticky;
	  position: sticky;
	}
  }

/* Jumbotron */
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}
@media (min-width: 576px){
	.jumbotron {
	padding: 4rem 2rem;
	}
}

/*
 * Blog name and description
 */
 .blog-title {
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: 400;
  }
  .blog-description {
	font-size: 1.1rem;
	color: #999;
  }
  
  @media (min-width: 40em) {
	.blog-title {
	  font-size: 3.5rem;
	}
  }
  
  /* Pagination */
  .blog-pagination {
	margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
	border-radius: 2rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
	margin-bottom: 4rem;
  }
  .blog-post-title {
	margin-bottom: .25rem;
	font-size: 2.5rem;
  }
  .blog-post-meta {
	margin-bottom: 1.25rem;
	color: #999;
  }
  
  /*
   * Footer
   */
  .blog-footer {
	padding: 2.5rem 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
	margin-bottom: 0;
  }
 /*PRELOADING------------ */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(240, 232, 232);
	/* change if the mask should have another color then white */
	z-index: 99;
	/* makes sure it stays on top */
  }
  
  #status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	/* centers the loading animation horizontally one the screen */
	top: 50%;
	/* centers the loading animation vertically one the screen */
	background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
	/* path to your loading animation */
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
	/* is width and height divided by two */
  }

  /*PRELOADING END*/
  .btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

  /* .btn {
	-webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
	box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
	padding: 1.25rem 2rem;
	font-family: 'Varela Round';
	font-size: 80%;
	text-transform: uppercase;
	letter-spacing: .15rem;
	border: 0;
  }
  
  .btn-primary {
	background-color: #781c2e;
  }
  
  .btn-primary:hover {
	background-color: #601625;
  }
  
  .btn-primary:focus {
	background-color: #601625;
	color: white;
  }
  
  .btn-primary:active {
	background-color: #3d151a !important;
  }
   */
  
  
  /* fancy hr */
  
  hr {
	border: 0;
	margin: 1.35em auto;
	max-width: 100%;
	background-position: 50%;
	box-sizing: border-box;
	padding: 0;
  }
  
  .accessory {
	height: 6px;
	background-image: radial-gradient(closest-side, rgba(128, 128, 128, 1.0), rgba(128, 128, 128, 0) 100%);
	position: relative;
  }
  
  hr.hr-4 {
	padding: 0;
	border: none;
	border-top: medium double #8c8c8c;
	color: #8c8c8c;
	text-align: center;
  }
  
  hr.hr-4:after {
	content: "§";
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
  
  }
  


  /* SCROLL INDICATOR */
  .scroll-bar {
	height: 5px;
	width: 10px;
	background-color: rgb(255, 42, 42);
	position: fixed;
	z-index: 2;
  }
  
  .content {
	height: 100%;
  }
  /* SCROLL INDICATOR END */

.bio-container{
	padding: .5em;
	text-align:center;
}

.name{
	font-family: 'Charmonman', cursive;
	font-weight:600;
	font-size: 28px;
	color:#fafad2;
}
.title{
	font-weight:600;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 0.125em;
	color:#e03443;
}
.bio{
	font-weight:600;
	font-size:18px;
	color: #e7e7e7;
}
.bio-image{
	text-align:center;
}
.bio-image img{
	height: 110px;
	width: 110px;
	border-radius:50%;
	border: 3px solid #fafad2;
}

.bio-content{
	margin: 1em;
	text-align:center;
}

  .blog-main{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* @media (min-width: 768px)
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
} */

/* .blog-sidebar {
    position: relative;
    width: 100%;
	min-height: 1px;
	background: #1a1a1a;
    padding-right: 15px;
    padding-left: 15px;
} */
  .blog-footer {
	margin-top: 70px;
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background: #1a1a1a;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer a {
	text-decoration: none;
	color: #eee;
  }
  a:hover {
	text-decoration: underline;
  }
  .ft-title {
	color: #fff;
	font-family: "Merriweather", serif;
	font-size: 1.375rem;
	padding-bottom: 0.625rem;
  }
  /* Footer main */
.ft-main {
	padding: 1.25rem 1.875rem;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
	.ft-main {
	  justify-content: space-evenly;
	}
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
	.ft-main {
	  justify-content: space-evenly;
	}
  }
  .ft-main-item {
	padding: 1.25rem;
	min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */

  input[type="email"] {
	border: 0;
	padding: 0.625rem;
	margin-top: 0.3125rem;
  }
  input[type="submit"] {
	background-color: #00d188;
	color: #fff;
	cursor: pointer;
	border: 0;
	padding: 0.625rem 0.9375rem;
	margin-top: 0.3125rem;
  }
  /* Footer social */
  .ft-social {
	padding: 0 1.875rem 1.25rem;
  }
  .ft-social-list {
	display: flex;
	justify-content: center;
	border-top: 1px #777 solid;
	padding-top: 1.25rem;
  }
  .ft-social-list li {
	margin: 0.5rem;
	font-size: 1.25rem;
  }
  /* Footer legal */
  .ft-legal {
	padding: 0.9375rem 1.875rem;
	background-color: #333;
  }
  .ft-legal-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
  }
  .ft-legal-list li {
	margin: 0.125rem 0.625rem;
	white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
	  flex: 1;
  }
  /* footer i {
	padding: 1em;
  }
   */
 body, button, input {
	font-family: Roboto Slab;
}
h1 {
	font: 2.25em/1 Helvetica, sans-serif;
	margin-bottom: .667em;
}
h2 {
	font: 1.5em/1 Helvetica, sans-serif;
	text-transform: uppercase;
	margin-bottom: .667em;
}
p {
	margin-bottom: 1em;
}
.content-section {
	padding-bottom: 2.5rem;
	height: 100vh;
}

 ul {
	 padding: 0;
	 margin: 0;
}
.list-group .list-group-item{
	background-color: rgb(252, 248, 248);
}

  /* START Sidebar: make-me-sticky  */
.blog-sidebar{
	position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
	}
	


/* .make-me-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  	padding: 0 10px;
}  */

/* END Sidebar: make-me-sticky  */

/* .container .container-fluid{
  margin: 0;
  height: 100%;
  justify-content: center;
} */
.card{
	padding: .5em;
  	background: #26262b;
  	-webkit-transition: all 0.3s ease;
  	transition: all 0.3s ease;
}
.anim-card{
	margin: 1.5em;
  	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-transition: all 0.3s ease;
  	transition: all 0.3s ease;
}
.anim-card:hover{
	transform: scale(1.03)
  }
.card-img-top {
  width: 100%;
  height: 33vh;
  object-fit: cover;
}

/*About Card*/
.about-card .card-img-block{
  float:left;
  width:100%;
  height:200px;
  overflow: hidden;
}
.about-card .card-body{
  position:relative;
}
.about-card .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  height: 75px;
  width: 75px;
  border: 3px solid rgb(24, 15, 15);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.about-card .card-title{
  font-weight:600;
  color:#6ab04c;
}
.about-card h5{
  font-weight:400;
  color:#4eaae7;
}
.about-card .card-text{
  font-weight:300;
  font-size:15px;
}
.about-card .icon-block{
  float:left;
  width:100%;
}
.about-card .icon-block a{
  text-decoration:none;
}
.about-card i {
  display: inline-block;
  font-size: 16px;
  color: #6ab04c;
  text-align: center;
  border: 1px solid #6ab04c;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin:0 5px;
}
.about-card i:hover {
  background-color:#6ab04c;
  color:#fff;
}

/* Contact */
.wrap {
	/* background: linear-gradient(to bottom, #f6f6f6, #e9e9e9); */
	height: 100%;
  }
  .cool-b4-form h2{
	text-align: center;
}
  .cool-b4-form .btn {
	border-radius: 0;
  }
  .cool-b4-form .form-group {
	position: relative;
	padding-top: 20px;
	margin-bottom: 0;
   /* If there's only 1 input make it full height */
  }
  .cool-b4-form .form-group:first-child:last-child {
	height: 100%;
  }
  .cool-b4-form .form-group:first-child:last-child .form-control {
	height: 100%;
  }
  .cool-b4-form .form-group textarea {
	resize: none;
  }
  .cool-b4-form .form-group .input-highlight {
	content: "";
	width: 0;
	height: 2px;
	background: #e03443;
	position: absolute;
	display: block;
	bottom: 0;
	transition: width 0.4s ease;
  }
  .cool-b4-form .form-group label {
	position: absolute;
	left: 10px;
	top: 25px;
	transition: all 0.4s ease;
  }
  .cool-b4-form .form-group .form-control {
	border-radius: 0;
	border-width: 0 0 2px 0;
  }
  .cool-b4-form .form-group .form-control:focus, .cool-b4-form .form-group .form-control.hasValue {
	box-shadow: none;
	border-color: #ced4da;
  }
  .cool-b4-form .form-group .form-control:focus ~ .input-highlight, .cool-b4-form .form-group .form-control.hasValue ~ .input-highlight {
	width: 100%;
  }
  .cool-b4-form .form-group .form-control:focus ~ label, .cool-b4-form .form-group .form-control.hasValue ~ label {
	transform: scale(0.7);
	top: 0;
	left: 0;
  }
