@import url(https://fonts.googleapis.com/css?family=Raleway:400,800|Roboto+Slab:300);

*, *:before, *:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	transition: 0.4s ease all;
}
html {
	height: 100%;
	font-size: 100%;
}

body {
	display: flex;
	height: 100%;
	overflow: hidden;
	flex-direction: column;
	background-color: #1a1a1a;
	color: #fff;
  }

 /*PRELOADING------------ */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(240, 232, 232);
	/* change if the mask should have another color then white */
	z-index: 99;
	/* makes sure it stays on top */
  }
  
  #status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	/* centers the loading animation horizontally one the screen */
	top: 50%;
	/* centers the loading animation vertically one the screen */
	background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
	/* path to your loading animation */
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
	/* is width and height divided by two */
  }

  /*PRELOADING END*/
  
  /* Header */
  .masthead {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 100vh;
	padding: 1rem 0;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(15%, rgba(22, 22, 22, 0.5)), to(#161616));
	background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 10%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/moon.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
  }
  
  .masthead h1 {
	font-family: 'Varela Round';
	font-size: 1.75rem;
	line-height: 1.75rem;
	letter-spacing: 0.125rem;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
  }
  
  .masthead h2 {
	max-width: 20rem;
	font-size: 1rem;
  }
  
  @media (min-width: 768px) {
	.masthead h1 {
	  font-size: 2rem;
	  line-height: 2rem;
	}
	.masthead h2 {
		max-width: 30rem;
		font-size: 1.50rem;
	  }
  }
  
  @media (min-width: 992px) {
	.masthead {
	  height: 100vh;
	  padding: 0;
	}
	.masthead h1 {
	  font-size: 2.25rem;
	  line-height: 2.25rem;
	  letter-spacing: 0.175rem;
	}
	.masthead h2 {
	  max-width: 30rem;
	  font-size: 1.75rem;
	}
  }
  .profile-img{
	height: 97px;
	width: 97px;
	border-radius:50%;
	border: 3px solid #fafad2;
  }
  .btn {
	-webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
	box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
	padding: 1.25rem 2rem;
	font-family: 'Varela Round';
	font-size: 80%;
	text-transform: uppercase;
	letter-spacing: .15rem;
	border: 0;
  }
  

  /* end Header */

  .btn {
	-webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
	box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
	padding: 1.25rem 2rem;
	font-family: 'Varela Round';
	font-size: 80%;
	text-transform: uppercase;
	letter-spacing: .15rem;
	border: 0;
  }
  
  .btn-primary {
	background-color: #781c2e;
  }
  
  .btn-primary:hover {
	background-color: #601625;
  }
  
  .btn-primary:focus {
	background-color: #601625;
	color: white;
  }
  
  .btn-primary:active {
	background-color: #3d151a !important;
  }
  
  
  
  /* fancy hr */
  
  hr {
	border: 0;
	margin: 1.35em auto;
	max-width: 100%;
	background-position: 50%;
	box-sizing: border-box;
	padding: 0;
  }
  
  .accessory {
	height: 6px;
	background-image: radial-gradient(closest-side, rgba(128, 128, 128, 1.0), rgba(128, 128, 128, 0) 100%);
	position: relative;
  }
  
  hr.hr-4 {
	padding: 0;
	border: none;
	border-top: medium double #8c8c8c;
	color: #8c8c8c;
	text-align: center;
  }
  
  hr.hr-4:after {
	content: "§";
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
  
  }
  


  /* SCROLL INDICATOR */
  .scroll-bar {
	height: 5px;
	width: 10px;
	background-color: rgb(255, 42, 42);
	position: fixed;
	z-index: 2;
  }
  
  .content {
	height: 2000px;
  }
  /* SCROLL INDICATOR END */
  
.container-fluid {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}
/* @media (min-width: 576px) {
	.container {
    	max-width: 540px;
	}
} */


.jumbotron {
	position: relative;
	background:none;
  }
  .jumbotron:after {
	  content : "";
	  display: block;
	  position: absolute;
	  top: 0;
	  left: 0;
	  /* background-image: url(https://placebear.com/g/900/300);
	  background-repeat: no-repeat;
	  background-position: center; */
	background-size: cover;
	  width: 100%;
	  height: 100%;
	  opacity : 0.2;
	  z-index: -1;
  }
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
nav {
	background: #222;
	padding: 5px 20px;
  }
  ul {
	list-style-type: none;
  }
  a {
	color: white;
	text-decoration: none;
  }
  a:hover {
	text-decoration: underline;
  }
  .logo a:hover {
	text-decoration: none;
  }
  .menu li {
	font-size: 16px;
	padding: 15px 5px;
	white-space: nowrap;
  }
  .logo a,
  .toggle a {
	font-size: 20px;
  }
  .button.secondary {
	border-bottom: 1px #444 solid;
  }
  /* Mobile menu */
  .menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
  }
  .toggle {
	order: 1;
  }
  .item.button {
	order: 2;
  }
  .item {
	width: 100%;
	text-align: center;
	order: 3;
	display: none;
  }
  .item.active {
	display: block;
  }
  /* Tablet menu */
  @media all and (min-width: 600px) {
	.menu {
	  justify-content: center;
	}
	.logo {
	  flex: 1;
	}
	.toggle {
	  flex: 1;
	  text-align: right;
	}
	.item.button {
	  width: auto;
	  order: 1;
	  display: block;
	}
	.toggle {
	  order: 2;
	}
	.button.secondary {
	  border: 0;
	}
	.button a {
	  padding: 7.5px 15px;
	  background: teal;
	  border: 1px #006d6d solid;
	}
	.button.secondary a {
	  background: transparent;
	}
	.button a:hover {
	  text-decoration: none;
	}
	.button:not(.secondary) a:hover {
	  background: #006d6d;
	  border-color: #005959;
	}
	.button.secondary a:hover {
	  color: #ddd;
	}
  }
  /* Desktop menu */
  @media all and (min-width: 900px) {
	.item {
	  display: block;
	  width: auto;
	}
	.toggle {
	  display: none;
	}
	.logo {
	  order: 0;
	}
	.item {
	  order: 1;
	}
	.button {
	  order: 2;
	}
	.menu li {
	  padding: 15px 10px;
	}
	.menu li.button {
	  padding-right: 0;
	}
  }
.bio-container{
	padding: .5em;
	text-align:center;
}

.name{
	font-family: 'Charmonman', cursive;
	font-weight:600;
	font-size: 28px;
	color:#fafad2;
}
.title{
	font-weight:600;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 0.125em;
	color:#e03443;
}
.bio{
	font-weight:600;
	font-size:18px;
	color: #e7e7e7;
}
.bio-image{
	text-align:center;
}
.bio-image img{
	height: 110px;
	width: 110px;
	border-radius:50%;
	border: 3px solid #fafad2;
}

.bio-content{
	margin: 1em;
	text-align:center;
}

  .blog-main{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* @media (min-width: 768px)
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
} */

.blog-sidebar {
    position: relative;
    width: 100%;
	min-height: 1px;
	background: #1a1a1a;
    padding-right: 15px;
    padding-left: 15px;
}
  .blog-footer {
	margin-top: 70px;
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background: #1a1a1a;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer a {
	text-decoration: none;
	color: #eee;
  }
  a:hover {
	text-decoration: underline;
  }
  .ft-title {
	color: #fff;
	font-family: "Merriweather", serif;
	font-size: 1.375rem;
	padding-bottom: 0.625rem;
  }
  /* Footer main */
.ft-main {
	padding: 1.25rem 1.875rem;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
	.ft-main {
	  justify-content: space-evenly;
	}
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
	.ft-main {
	  justify-content: space-evenly;
	}
  }
  .ft-main-item {
	padding: 1.25rem;
	min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */

  input[type="email"] {
	border: 0;
	padding: 0.625rem;
	margin-top: 0.3125rem;
  }
  input[type="submit"] {
	background-color: #00d188;
	color: #fff;
	cursor: pointer;
	border: 0;
	padding: 0.625rem 0.9375rem;
	margin-top: 0.3125rem;
  }
  /* Footer social */
  .ft-social {
	padding: 0 1.875rem 1.25rem;
  }
  .ft-social-list {
	display: flex;
	justify-content: center;
	border-top: 1px #777 solid;
	padding-top: 1.25rem;
  }
  .ft-social-list li {
	margin: 0.5rem;
	font-size: 1.25rem;
  }
  /* Footer legal */
  .ft-legal {
	padding: 0.9375rem 1.875rem;
	background-color: #333;
  }
  .ft-legal-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
  }
  .ft-legal-list li {
	margin: 0.125rem 0.625rem;
	white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
	  flex: 1;
  }
  /* footer i {
	padding: 1em;
  }
   */
 body, button, input {
	font-family: Roboto Slab;
}
h1 {
	font: 2.25em/1 Helvetica, sans-serif;
	margin-bottom: .667em;
}
h2 {
	font: 1.5em/1 Helvetica, sans-serif;
	text-transform: uppercase;
	margin-bottom: .667em;
}
p {
	margin-bottom: 1em;
}
.content-section {
	padding-bottom: 2.5rem;
	height: 100vh;
}

 ul {
	 padding: 0;
	 margin: 0;
}
.list-group .list-group-item{
	background-color: rgb(22, 22, 22);
}

  /* START Sidebar: make-me-sticky  */
.blog-sidebar{
	position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
	}
	


/* .make-me-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  	padding: 0 10px;
}  */

/* END Sidebar: make-me-sticky  */

.container .container-fluid{
  margin: 0;
  height: 100%;
  justify-content: center;
}
.card{
	padding: .5em;
  	background: #272727;
  	-webkit-transition: all 0.3s ease;
  	transition: all 0.3s ease;
}
.anim-card{
	margin: 1.5em;
  	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-transition: all 0.3s ease;
  	transition: all 0.3s ease;
}
.anim-card:hover{
	transform: scale(1.03)
  }
.card-img-top {
  width: 100%;
  height: 33vh;
  object-fit: cover;
}

/*About Card*/
.about-card .card-img-block{
  float:left;
  width:100%;
  height:200px;
  overflow: hidden;
}
.about-card .card-body{
  position:relative;
}
.about-card .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  height: 75px;
  width: 75px;
  border: 3px solid rgb(24, 15, 15);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.about-card .card-title{
  font-weight:600;
  color:#6ab04c;
}
.about-card h5{
  font-weight:400;
  color:#4eaae7;
}
.about-card .card-text{
  font-weight:300;
  font-size:15px;
}
.about-card .icon-block{
  float:left;
  width:100%;
}
.about-card .icon-block a{
  text-decoration:none;
}
.about-card i {
  display: inline-block;
  font-size: 16px;
  color: #6ab04c;
  text-align: center;
  border: 1px solid #6ab04c;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin:0 5px;
}
.about-card i:hover {
  background-color:#6ab04c;
  color:#fff;
}

/* Contact */
.wrap {
	/* background: linear-gradient(to bottom, #f6f6f6, #e9e9e9); */
	height: 100%;
  }
  .cool-b4-form h2{
	text-align: center;
}
  .cool-b4-form .btn {
	border-radius: 0;
  }
  .cool-b4-form .form-group {
	position: relative;
	padding-top: 20px;
	margin-bottom: 0;
   /* If there's only 1 input make it full height */
  }
  .cool-b4-form .form-group:first-child:last-child {
	height: 100%;
  }
  .cool-b4-form .form-group:first-child:last-child .form-control {
	height: 100%;
  }
  .cool-b4-form .form-group textarea {
	resize: none;
  }
  .cool-b4-form .form-group .input-highlight {
	content: "";
	width: 0;
	height: 2px;
	background: #e03443;
	position: absolute;
	display: block;
	bottom: 0;
	transition: width 0.4s ease;
  }
  .cool-b4-form .form-group label {
	position: absolute;
	left: 10px;
	top: 25px;
	transition: all 0.4s ease;
  }
  .cool-b4-form .form-group .form-control {
	border-radius: 0;
	border-width: 0 0 2px 0;
  }
  .cool-b4-form .form-group .form-control:focus, .cool-b4-form .form-group .form-control.hasValue {
	box-shadow: none;
	border-color: #ced4da;
  }
  .cool-b4-form .form-group .form-control:focus ~ .input-highlight, .cool-b4-form .form-group .form-control.hasValue ~ .input-highlight {
	width: 100%;
  }
  .cool-b4-form .form-group .form-control:focus ~ label, .cool-b4-form .form-group .form-control.hasValue ~ label {
	transform: scale(0.7);
	top: 0;
	left: 0;
  }


