{% for about_entry in abouts %}

<!-- Header -->
<header>
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-4">
        <div class="image" >
          <img src="{{ about_entry.profile_pic.url }}" >
        </div>
      </div>
      <div class="col-8">
        <h3>
          Hi, I’m 
          <span class="color-secondary">{{ about_entry.name }}
          </span>
          <br />
          I,m a <span class="color-secondary">{{ about_entry.title }}</span></h3>
          <p><a class="color-secondary" target="_blank" href="{% url 'home' %}">{{ about_entry.website }}</a></p>
      </div>
    </div>
  </div>
  </header>

{% endfor %}