{% extends "base.html" %}

{% block page_content %}

{% for data in instance %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card about-card">
        <div class="card-img-block">
          <img class="card-img-top" src="{{ data.profile_pic.url }}" alt="Card image cap">
        </div>
        <div class="card-body pt-5">
          <img src="{{ data.profile_pic.url }}" alt="profile-image" class="profile"/>
          <h3 class="card-title">{{ data.name }}</h3>
          <small>
            <h5>{{ data.title }}</h5>
          </small>
          <p class="card-text">{{ data.description }}</p>
          <div class="icon-block">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"> <i class="fab fa-twitter"></i></a>
            <a href="#"> <i class="fab fa-google-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock page_content %}