{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Roboto front -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>{% block head_title %}CodePress{% endblock head_title %}</title>

    {% block head_extra %} {% endblock head_extra %}
  </head>
  <body>

     <!-- Preloader -->
     <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <div class="scroll-bar"></div>
    <div class="content"></div>
        
    <div class="container-fluid">
      <header class="blog-header">
        {% include 'navbar.html' %}
        {% include 'header.html' %}
      </header>



    <main role="main" class="container-fluid">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h5 class="pb-3 mb-4 text-center border-bottom">
            I have no special talent, I'm just passionately curious;
          </h5>

          <div class="blog-post">
            {% block page_content %} {% endblock %}
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-2 rounded">
            <h4 class="text-center">Latest Posts</h4>
              {% include 'sidebar.html' %}          
          </div>

          <!-- <div class="p-3">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
            </ol>
          </div> -->

        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main>

   </div>

    <footer class="blog-footer">
      {% include 'footer.html' %}     
    </footer>

   
    <!-- Optional JavaScript -->
  
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.8.0/marked.min.js"></script>
    <script>
      // Preloader
      $(window).on('load', function() { // makes sure the whole site is loaded 
        $('#status').fadeOut(); // will first fade out the loading animation 
        $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website. 
        $('body').delay(350).css({'overflow':'visible'});
      });
      
      // jquery function
      $(document).ready(function(){
        // scroll position indicator
        $(window).on('scroll', function() {

          var docHeight = $(document).height(),
              winHeight = $(window).height();

          var viewport = docHeight - winHeight,
              positionY = $(window).scrollTop();

          var indicator = ( positionY / (viewport)) * 100;

          $('.scroll-bar').css('width', indicator + '%');
        });
        // toggle nav
        $(".toggle").on("click", function(){
          if ($(".item").hasClass("active")) {
            $(".item").removeClass("active");
            $(this).find("a").html("<i class='fas fa-bars'></>");
          } else{
            $(".item").addClass("active");
            $(this).find("a").html("<i class='fas fa-times'></>");
          }
        });

        $(".card-body img").each(function(){
          $(this).addClass("card-img-top");
        });

        $(".comment-reply btn").click(function(event){
          event.preventDefault();
          $(this).parent().next(".comment-reply").fadeToggle();
        });
        
        $(".cool-b4-form .form-control").on("input", function(){
          if($(this).val()){
            $(this).addClass("hasValue");
          } else {
            $(this).removeClass("hasValue");
          }
        })
      });
     
    </script>
  </body>
</html>
      
      
        
       

     

      

    
  
  
  


  

    <!-- Optional JavaScript -->
  
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.8.0/marked.min.js"></script>
    <script></script>
    <script>
      $(document).ready(function(){

        const navbar = document.querySelector('.navbar')

        navbar.querySelector('.toggle').addEventListener('click',()=>{
	
	      navbar.classList.toggle('collapsed')
	
      })

        window.addEventListener('scroll',(e)=>{
        
        	let windowY = window.pageYOffset
        
        	let navbarHeight = document.querySelector('.navbar').offsetHeight
        
        	if(windowY>navbarHeight) navbar.classList.add('sticky')
        	else navbar.classList.remove('sticky')
        })
        // responsive image for markdown content 
        $(".card-body img").each(function(){
          $(this).addClass("card-img-top")
        });
        // Comment Btn Fade toggle
        $(".comment-reply-btn").click(function(event){
          event.preventDefault();
          $(this).parent().next(".comment-reply").fadeToggle();
        });
        // Contact Form animation
        $(".cool-b4-form .form-control").on("input", function(){
          if($(this).val()){
            $(this).addClass("hasValue");
          } else {
            $(this).removeClass("hasValue");
          }
        });
        // Blog Card Hover Effect
        $(".col-6").hover(
          // trigger when mouse hove
          function(){
            $(this).animate({
              marginTop: "-=1%",
            }, 200);
          },
          // trigger when mouse out
          function(){
            $(this).animate({
              marginTop: "0%",
            }, 200)
          }
        )
        });

      $(window).load(function() {
	      $(".loader").delay(2000).fadeOut("slow");
        $("#overlayer").delay(2000).fadeOut("slow");
      })
    </script>
  </body>
</html>