{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Roboto front -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>{% block head_title %}CodePress{% endblock head_title %}</title>

    {% block head_extra %} {% endblock head_extra %}
  </head>
  <body>

    {% include 'navbar.html' %}
    
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-8">
            {% block page_content %}{% endblock %}
        </div>
        <div class="col-4">
          {% include 'sidebar.html' %}
        </div>
        
      </div>
      
    </div>

    <!-- Optional JavaScript -->
  
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.8.0/marked.min.js"></script>
    <script>
      $(document).ready(function(){
        // $(".body-markdown").each(function(){
        //   var body = $(this).text()
        //   var markedBody = marked(body)
        //   $(this).html(markedBody)
        // });
        // $(".post-detail-item img").each(function(){
        //   $(this).addClass("img-responsive");
        // });

        $(".comment-reply-btn").click(function(event){
          event.preventDefault();
          $(this).parent().next(".comment-reply").fadeToggle();
        });
        
        $(".cool-b4-form .form-control").on("input", function(){
          if($(this).val()){
            $(this).addClass("hasValue");
          } else {
            $(this).removeClass("hasValue");
          }
        })
      })
    </script>
  </body>
</html>