{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Roboto front -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <!-- Custom css -->
    
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


    <title>{% block head_title %}CodePress{% endblock head_title %}</title>

    {% block head_extra %} {% endblock head_extra %}
  </head>
  <body>
     <!-- Preloader -->
     <!-- <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <div class="scroll-bar"></div>
    <div class="content"></div> -->
        
    <div class="container-fluid">
      
      {% include 'header.html' %}
      
      {% include 'navbar.html' %}

      <hr>
      

    <main role="main" class="container-fluid">
      <div class="row">
        <div class="col-md-8 blog-main">
          <!-- <h5 class="pb-3 mb-4 text-center border-bottom">
            I have no special talent, I'm just passionately curious;
          </h5> -->

          <div class="blog-post">
            {% block page_content %} {% endblock %}
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <aside class="col-md-4 sidebar">
          <div class="sidebar-sticky">
            <h4 class="text-center">Latest Posts</h4>
              {% include 'sidebar.html' %}
          

          <div class="p-3">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-12">
                      <ul class="list-group">
                        <li class="list-group-item">GET IN TOUCH</li>
                        <li class="list-group-item">Archives</li>
                      </ul>
                  </div>
                </div>
            </div>
          </div>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main>

   </div>

    <footer class="blog-footer">
      {% include 'footer.html' %}     
    </footer>


  <!-- Optional JavaScript -->
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.8.0/marked.min.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>