
<div class="navbar">
	<div class="logo">
		<h2>CODEPRESS</h2>
	</div>
	<ul class="links">
		<li><a href="{% url 'home' %}">Home</a></li>
		<li><a href="{% url 'home' %}">Blog</a></li>
		<li><a href="{% url 'about' %}">About</a></li>
		<li><a href="{% url 'project_index' %}">Project</a></li>
		<li><a href="{% url 'email' %}">Contact Us</a></li>
	</ul>
	<div class="right">
		<button>Dashboard</button>
	</div>
	<div class="toggle">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>	
</div>

