<nav class="sticky-nav">
	<ul class="menu">
		<li class="logo"><a href="{% url 'home' %}">letsflyonthewebsky.com</a></li>
		<li class="item">
			<form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
				<input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> 
			  </form> 
		</li>
		<li class="item"><a href="{% url 'home' %}">Home</a></li>
		<li class="item"><a href="{% url 'about' %}">About</a></li>
		<li class="item"><a href="{% url 'project_index' %}">Portfolio</a></li>
		<li class="item"><a href="{% url 'posts' %}">Blog</a></li>
		<li class="item"><a href="{% url 'contact' %}">Contact</a></li>
		{% if not request.user.is_authenticated %}
		<li class="item button"><a href="{% url 'login' %}">Log In</a></li>
		<li class="item button secondary"><a href="{% url 'signup' %}">Sign Up</a></li>
		{% else %}
		<li class="item button"><a href="{% url 'logout' %}">Logout</a></li>
		{% endif %}
		<li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
	</ul>	
</nav>