<nav>
	<ul class="menu">
	  <li class="logo"><a href="{% url 'home' %}">CODEPRESS</a></li>
	  <li class="item"><a href="{% url 'home' %}">Home</a></li>
	  <li class="item"><a href="{% url 'about' %}">About</a></li>
	  <li class="item"><a href="{% url 'project_index' %}">Portfolio</a></li>
	  <li class="item"><a href="{% url 'home' %}">Blog</a></li>
	  <li class="item"><a href="{% url 'contact' %}">Contact</a></li>
	  <li class="item button"><a href="{% url 'login' %}">Log In</a></li>
	  <li class="item button secondary"><a href="{% url 'signup' %}">Sign Up</a></li>
	  <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
	</ul>
  </nav>

 